<div class="item">
    <div class="item-summary" @onclick="ToggleDetails">
        <div class="item-start">
            <Icon IconClass="@BudgetItem.IconName" IconColor="@IconColor"/>
            <div class="item-title">@BudgetItem.Name</div>
        </div>
        <div class="item-content">
            <div class="item-sum">@CalculateAmount() kr</div>
            <div class="item-shared">
                @if (@BudgetItem.IsShared == true)
                {
                    <i class="fas fa-solid fa-users" />
                }
                else
                {
                    <i class="fas fa-solid fa-user" />
                }
            </div>
        </div>
    </div>
    @if (showDetails)
    {
        if (BudgetItem.IsShared)
        {
            <div class="item-details">
                <div class="input-wrapper">
                    <div class="input-title">Total Cost: </div>
                    <div class="input-value">
                        <InputNumber class="form-control-plaintext" name="sharedPercentage" placeholder="50" @bind-Value=BudgetItem.Amount />
                    </div>
                    <div class="input-currency">kr</div>
                </div>
                <div class="input-wrapper">
                    <div class="input-title">Percentage: </div>
                    <div class="input-value">
                        <InputNumber class="form-control-plaintext" name="sharedPercentage" placeholder="50" @bind-Value=BudgetItem.SharedPercentage />
                    </div>
                    <div class="input-currency">%</div>
                </div>
                <div class="detail">User Cost: @CalculateAmount() kr</div>
                <button class="btn btn-danger border-0" type="button" @onclick="RemoveItem">
                    <span class="fas fa-solid fa-x"></span>
                    <span>Remove Item</span>
                </button>
            </div>
        }
        else
        {
            <div class="item-details">
                <div class="input-wrapper">
                    <div class="input-title">Total Cost: </div>
                    <div class="input-value">
                        <InputNumber class="form-control-plaintext" name="sharedPercentage" placeholder="50" @bind-Value=BudgetItem.Amount />
                    </div>
                    <div>kr</div>
                </div>
                <button class="btn btn-danger border-0" type="button" @onclick="RemoveItem">
                    <span class="fas fa-solid fa-x"></span>
                    <span>Remove Item</span>
                </button>
            </div>
        }
    }
</div>


@code {
    [Parameter]
    public Budget BudgetItem { get; set; }
    [Parameter]
    public string IconColor { get; set; }
    [Parameter]
    public EventCallback OnUpdateAll { get; set; }
    private bool showDetails = false;

    public int CalculateAmount()
    {
        int sharedAmount = BudgetItem.Amount * BudgetItem.SharedPercentage / 100;
        return sharedAmount;
    }
    private void ToggleDetails()
    {
        showDetails = !showDetails;
    }
    private async Task RemoveItem()
    {
        ToggleDetails();
        await BudgetRepository.RemoveBudgetItem(BudgetItem.Id);
        await OnUpdateAll.InvokeAsync();
    }
}
